@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #F4F4F4;
    font-family: Poppins;
    z-index: -1;
}
header{
    width: 1140px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    align-items: center;
}
header .logo{
    font-weight: bold;
}
header nav a{
    margin-left: 30px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}
.siz main{
    padding-top: 100px;
}

.carousel{
    
    height: 800px;
    
    margin-top: -50px;
}
.carousel .list{
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel .list .item{
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    
}
.carousel .list .item img{
    width: 80%;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 7px;
}

.carousel .list .item .introduce{
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    
}

.carousel .list .item .introduce .title{
    font-size: 5em;
    font-weight: 500;
    line-height: 15px;
}
.carousel .list .item .introduce .topic{
    font-size: 5em;
    font-weight: 500;
}
.carousel .list .item .introduce .des{
    font-size: 16px;
    color: #5559;
}

.carousel::before{
    width: 500px;
    height: 200px;
    content: '';
    background-image: linear-gradient(70deg, #DC422A, blue);
    position: absolute;
    z-index: -1;
    
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
}

footer{
    background-color: black;
}



.logo a img{
    width: 200px;
    height: 200px;
}




